@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-rgb: 255, 255, 255;
	--input-border: black;
}

.dark {
	--foreground-rgb: 255, 255, 255;
	--background-rgb: 0, 0, 0;
	--input-border: white;
}

body {
	color: rgb(var(--foreground-rgb));
	background: rgb(var(--background-rgb));
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

.cor input[type="radio"] {
	appearance: none;
	width: 1em;
	height: 1em;
	border: 1px solid var(--input-border);
}

.cor input[type="radio"]:checked {
	border: none;
	outline: 3px solid red;
}

input[type="radio"]:checked {
	accent-color: red;
}
