@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-rgb: 255, 255, 255;
	--input-border: 100, 100, 100;
}

.dark {
	--foreground-rgb: 255, 255, 255;
	--background-rgb: 0, 0, 0;
	--input-border: 200, 200, 200;
}

body {
	color: rgb(var(--foreground-rgb));
	background: rgb(var(--background-rgb));
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

.cor[type="radio"] {
	appearance: none;
	width: 1.1em;
	height: 1.1em;
	border: 2px solid rgb(var(--input-border));
}

.cor[type="radio"]:checked {
	border: none;
	outline: 3px solid red;
}

input[type="radio"]:checked {
	accent-color: red;
}
